absl-py==2.2.2
accelerate==1.7.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
altair==5.5.0
asttokens==3.0.0
attrs @ file:///C:/b/abs_89hmquz5ga/croot/attrs_1734533130810/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1744783198182/work
blinker==1.9.0
blis @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/cython-blis_1699480682223/work
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
cachetools==5.5.2
catalogue @ file:///C:/b/abs_0d918n68qi/croot/catalogue_1703688198988/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1746569525376/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
click @ file:///C:/b/abs_42rbjngfys/croot/click_1744271606983/work
cloudpathlib @ file:///home/conda/feedstock_root/build_artifacts/cloudpathlib-meta_1697837790453/work
colorama==0.4.6
comm==0.2.2
confection @ file:///home/conda/feedstock_root/build_artifacts/confection_1740630664356/work
contourpy==1.3.2
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cycler==0.12.1
cymem @ file:///C:/b/abs_908b_1v3z0/croot/cymem_1736262800502/work
datasets==3.6.0
debugpy==1.8.12
decorator==5.1.1
dill==0.3.8
docker-pycreds==0.4.0
eli5 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_eli5_1745991613/work
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl#sha256=f72abb34bdf174876bd4267b29b2501677e605e0a251fdc56c163003182ed68b
executing==2.2.0
filelock==3.18.0
fonttools==4.58.0
frozenlist==1.6.0
fsspec==2025.3.0
gensim @ file:///C:/b/abs_efsh9stgvi/croot/gensim_1725376635600/work
gitdb==4.0.12
GitPython==3.1.44
graphviz @ file:///C:/b/abs_d0elvtecyp/croot/python-graphviz_1739534155086/work
grpcio==1.71.0
huggingface-hub==0.31.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
ipykernel==6.29.5
ipython==8.32.0
ipywidgets==8.1.7
jedi==0.19.2
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib @ file:///C:/b/abs_f4b98l6lgk/croot/joblib_1718217224240/work
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
Markdown==3.8
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mpmath==1.3.0
multidict==6.4.3
multiprocess==0.70.16
murmurhash @ file:///C:/b/abs_f1_1p5yg6_/croot/murmurhash_1741707831116/work
narwhals==1.39.1
nest-asyncio==1.6.0
networkx==3.4.2
nltk @ file:///C:/b/abs_3e10flry37/croot/nltk_1724427703710/work
numexpr @ file:///C:/b/abs_05o8p7bfml/croot/numexpr_1730215959182/work
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp312-cp312-win_amd64.whl#sha256=becc06674317799ad0165a939a7613809d0bee9bd328a1e4308c57c39cacf08c
packaging==24.2
pandas @ file:///C:/b/abs_e18w9ay4we/croot/pandas_1732735115740/work/dist/pandas-2.2.3-cp312-cp312-win_amd64.whl#sha256=2c8058e41dda2e7ecfff0740ad1d98f17d528c740f71b038c523a9d24d2321b0
parso==0.8.4
pillow==11.2.1
platformdirs==4.3.6
preshed @ file:///C:/b/abs_dbt07m3xto/croot/preshed_1745242591660/work
prompt_toolkit==3.0.50
propcache==0.3.1
protobuf==6.31.0
psutil==7.0.0
pure_eval==0.2.3
pyarrow==20.0.0
pydantic @ file:///C:/b/abs_42nd505mjc/croot/pydantic_1731939304308/work
pydeck==0.9.1
Pygments==2.19.1
pyparsing==3.2.3
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
pytz @ file:///C:/b/abs_6ap4tsz1ox/croot/pytz_1713974360290/work
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.1
referencing==0.36.2
regex @ file:///C:/b/abs_d785r851h6/croot/regex_1736542205858/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rpds-py==0.25.0
safetensors==0.5.3
scikit-learn @ file:///C:/b/abs_0dwalqot3o/croot/scikit-learn_1737988780693/work/dist/scikit_learn-1.6.1-cp312-cp312-win_amd64.whl#sha256=182506dc5e8dc16a17946480ff4567ca27142b879c588302c4fb409e5efadb75
scipy @ file:///C:/Users/dev-admin/cr_scipy-feedstock/scipy_1733846735088/work/dist/scipy-1.13.1-cp312-cp312-win_amd64.whl#sha256=29e35e361a1c0f2a8bd6637711c606710892a9720f204eedf199be112626342d
seaborn==0.13.2
sentencepiece==0.2.0
sentry-sdk==2.28.0
seqeval @ file:///home/conda/feedstock_root/build_artifacts/seqeval_1607636513878/work
setproctitle==1.3.6
setuptools==78.1.1
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
simpletransformers==0.70.1
six==1.17.0
sklearn-crfsuite==0.5.0
smart-open @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/smart_open_1699483216058/work
smmap==5.0.2
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1746563585861/work
spacy @ file:///C:/b/abs_2cxswghzwz/croot/spacy_1704840136870/work
spacy-alignments==0.9.1
spacy-curated-transformers==0.2.2
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1694527114282/work
spacy-transformers==1.3.8
srsly @ file:///C:/b/abs_610qoxca56/croot/srsly_1741858013545/work
stack-data==0.6.3
streamlit==1.45.1
sympy==1.14.0
tabulate @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/tabulate_1701812852133/work
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
thinc @ file:///C:/b/abs_38p52jovpi/croot/thinc_1704704013028/work
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
tokenizers==0.21.1
toml==0.10.2
torch==2.7.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.49.0
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1711217621866/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1744302253/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
wandb==0.19.11
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1740630716360/work
watchdog==6.0.0
wcwidth==0.2.13
weasel @ file:///home/conda/feedstock_root/build_artifacts/weasel_1699295455892/work
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
wikipedia @ file:///home/conda/feedstock_root/build_artifacts/wikipedia_1733124737796/work
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
xxhash==3.5.0
yarl==1.20.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
